// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Figma Colours

$black: #080808;
$bright: #F4F4F4;

$darkBlue: #0c2432;
$darkRed: #d00001;
$goldWriting: #c3a963;

$black75: rgba(0,0,0,0.45);
$black65: rgba(0,0,0,0.65);
$black55: rgba(0,0,0,0.55);
$black45: rgba(0,0,0,0.45);
$black35: rgba(0,0,0,0.35);
$black30: rgba(0,0,0,0.3);
$black25: rgba(0,0,0,0.25);
$black15: rgba(0,0,0,0.15);
$black10: rgba(0,0,0,0.1);
$black05: rgba(0,0,0,0.05);
$black03: rgba(0,0,0,0.03);
