.categories_cont {
  height: 90vh;
  width: 100vw;

  overflow: hidden;
}

.category_list {
  position: absolute;
  top: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;

  height: 26vh;
  width: 100vw;

  list-style: none;

  margin: 32vh auto;
  padding: 0px 10vw;

  font-family: 'Tangerine', cursive;
}

.category_imgs {
  display: flex;

  height: 100%;

  list-style: none;

  padding-left: 0;
  margin-bottom: 0;
}

.categories_cont ul li {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.categories_cont a {
  font-size: 5rem;
  font-weight: bold;

  color: $darkBlue;

  text-decoration: none;
  text-shadow: 0px 4px 4px $black25;

  inline-size: min-content;
}



// begin float shadow tryouts

$defaultDuration: .3s;

@mixin hideTapHighlightColor() {
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
  //Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

/* Float Shadow */
.categories_cont a {
  display: inline-block;
  position: relative;
  transition-duration: $defaultDuration;
  transition-property: transform;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%); /* W3C */
    transition-duration: $defaultDuration;
    transition-property: transform opacity;
  }

  &:hover {
    transform: translateY(-5px); /* move the element up by 5px */

    &:before {
      opacity: 1;
      transform: translateY(5px); /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
    }
  }
}



// end float shadow tryouts




// .categories_cont a:hover{
//   transform: perspective(1px) translateZ(0);
//     box-shadow: 0 0 3px rgba(0, 0, 0, 0);
//     position: relative;
//     transition-duration: 0.3s;
//     transition-property: transform;
// }

.category_bg_img {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;

  height:  90vh;
  width: 100vw;
  filter: blur(9px);
}

.category_bg_img img {
  object-fit: cover;

  height:  90vh;
  width: 100vw;
}

.current_slide {
  opacity: 1;
  // transition: 0.45s ease-in-out;
}

@keyframes catImageAppear {
  from{
    opacity: 0;
    // transform: translateX(50px);
  }
  to{
    opacity: 1;
    // transform: translateX(0px);
  }
}

@keyframes catImageFade {
  from{
    opacity: 1;
    // transform: translateX(50px);
  }
  to{
    opacity: 0;
    // transform: translateX(0px);
  }
}

@media screen and (max-width: 600px) {
  .category_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 70vh;
    width: 100vw;

    margin: 10vh auto;

    grid-template-columns: unset;
    grid-gap: 0;
  }
}

