// Global Admin SCSS

.admin_space_title {
  position: relative;

  width: 100vw;

  color: #0c2432;

  padding: 3vh 0 0 0;
  text-align: center;
}

#product_show_title {
  height: 16vh;
}

.admin_list_item {
  display: flex;
  align-items: center;
}

.admin_list_item a {
  margin: 2vh;

  &:hover {
    text-decoration: none;
  }
}

.admin_list_item_name {
  font-weight: bold;
  text-shadow: 0px 4px 4px $black25;

  z-index: 2;
}

.admin_control_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  height: 20vh;
}

.admin_control_panel a {
  color: $black;

  &:hover {
    color: $goldWriting;
  }
}

.admin_create_btn {
  position: absolute;
  top: 4vh;
  right: 4vh;

  font-size: 2.3em;
}

.admin_create_btn a {
  color: $darkRed;

  &:hover{
    color: $goldWriting;
  }
}

.admin_back_btn {
  position: absolute;
  top: 4vh;
  left: 6vh;

  font-size: 2em;
}

.admin_back_btn a {
  color: $darkBlue;

  &:hover {
    color: $goldWriting;
  }
}


// Admin Category SCSS

.admin_category_list {
  position: relative;

  height: fit-content;
  width: 100vw;
}

.admin_category_list ul {
  list-style: none;
}

.admin_category_card {
  position: relative;

  display: flex;
  align-items: center;

  height: 20vh;
  width: 35vw;

  color: $bright;
  padding-right: 5vw;
  padding-left: 5vw;

  border-radius: 25px;

  &:hover {
    box-shadow: 2px 0px 7px $black15;
  }

  &:hover .admin_category_bg_dark {
    display: block;
  }
}

.admin_category_img img {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;

  height: 20vh;
  width: 35vw;

  border-radius: 25px;
}

.admin_category_bg_dark {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  height: 20vh;
  width: 35vw;

  background-color: $black45;

  border-radius: 25px;
}


// Admin Product Index SCSS

.admin_product_list {
  position: relative;

  height: fit-content;
  width: 100vw;
}

.admin_product_list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 12px;

  margin-right: 10vw;
  margin-top: 4vh;

  list-style: none;
}

.admin_product_card {
  position: relative;

  display: flex;
  align-items: center;

  height: 30vh;
  width: 30vh;

  color: $bright;
  padding-right: 2vw;
  padding-left: 2vw;

  border-radius: 25px;

  &:hover {
    box-shadow: 2px 0px 7px $black15;
  }

  &:hover .admin_product_bg_dark {
    display: block;
  }
}

.admin_product_img img {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;

  height: 30vh;
  width: 30vh;

  border-radius: 25px;
}

.admin_product_bg_dark {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  height: 30vh;
  width: 30vh;

  background-color: $black45;

  border-radius: 25px;
}


// Admin Product Show SCSS

.admin_product_show {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100vw;
  height: 74vh;

  padding-left: 5vw;
}

.admin_product_show_img {
  height: 40vh;
  width: 40vh;
}

.admin_product_show_img img {
  object-fit: cover;

  height: 40vh;
  width: 40vh;
}

.admin_product_show_btns {
  position: absolute;
  top: 2vh;
  right: 4vw;

  display: flex;
  align-items: center;
  justify-content: space-around;

  height: 8vh;
  width: 12vw;

  font-size: 1.5em;
}

.admin_product_show_btns a {
  color: $black;

  &:hover {
    color: $goldWriting;
  }
}

.admin_product_show_descritpion ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 40vh;

  list-style: none;
}


// Admin Forms

.admin_form_category {
  width: 80vw;

  padding: 10vh 10vw;
}

.admin_form_back_btn {
  margin-top: 1em;
}

.admin_form_back_btn a {
  color: $darkBlue;
  font-weight: bold;

  &:hover {
    color: $goldWriting;
    text-decoration: none;
  }
}

.admin_form_submit {
  width: fit-content;

  border: solid 1px $darkBlue;
  border-radius: 3px;
}

.admin_form_forgot_pwd {
  margin: 2vh;
}


// Media Queries

@media screen and (max-width: 1100px) {
  // Global Admin SCSS
  .admin_list_item a {
    margin: 2vw;
  }

  // Admin Product Index SCSS
  .admin_product_list ul {
    grid-template-columns: 1fr 1fr;

    margin-right: 15vw;
  }

  .admin_product_card {
    height: 30vw;
    width: 30vw;
  }

  .admin_product_img img {
    height: 30vw;
    width: 30vw;
  }

  .admin_product_bg_dark {
    height: 30vw;
    width: 30vw;
  }

  // Admin Product Show SCSS
  .admin_product_show_descritpion ul {
    padding-right: 5vw;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  // Global Admin SCSS
  .admin_space_title {
    padding: 3vh 5vw 0 5vw;
    font-size: 0.9rem;
  }

  .admin_space_title h1 {
    font-size: 1.5rem;
  }

  .admin_back_btn {
    top: 2vh;
    left: 4vh;
  }

  // Admin Product Index SCSS
  .admin_product_list ul {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }

  .admin_product_card {
    height: 25vh;
    width: 25vh;
  }

  .admin_product_img img {
    height: 25vh;
    width: 25vh;
  }

  .admin_product_bg_dark {
    height: 25vh;
    width: 25vh;
  }

  // Admin Product Show SCSS
  .admin_product_show {
    flex-direction: column-reverse;

    height: fit-content;

    padding-left: unset;
  }

  .admin_product_show_img {
    height: 80vw;
    width: 80vw;

    margin: 5vh auto;
  }

  .admin_product_show_img img {
    height: 80vw;
    width: 80vw;
  }

  .admin_product_show_descritpion ul {
    height: fit-content;

    padding: 2vh 5vh 0 5vh;
    margin-bottom: 0;
  }

  .admin_product_show_descritpion li {
    padding: 0 0 3vh 0;
  }

  .admin_product_show_btns {
    position: relative;
    top: 0;
    right: 0;

    height: 10vh;
    width: 100vw;
  }

  #product_show_title {
    height: fit-content;
  }
}
