<footer>

  <div class="ghellinckfooter">

    <div class="grid-case">
      <%= link_to "Contact", contact_path %>
    </div>

    <div class="grid-case">
      <div class="empty_div_footer"></div>
    </div>

    <div class="grid-case">
      <a href="https://facebook.com/Aymeric-de-Ghellinck-Artisan-Joaillier-Graveur-106805681245210" target="_blank">Facebook</a>
    </div>

    <div class="grid-case">
      <%= link_to "A propos", about_me_path %>
    </div>

    <div class="grid-case">
      <p>© 2021 <a href="https://www.linkedin.com/in/lazar-istvan/" target="_blank">István Lázár</a> & <a href="https://www.linkedin.com/in/gauthier-wolters-406ba0142/" target="_blank">Gauthier Wolters</a></p>
    </div>

    <div class="grid-case">
      <a href="https://www.instagram.com/adeghellinck_artisan_joaillier/" target="_blank">Instagram</a>
    </div>

  </div>

</footer>
