<div class="contact_cont">
  <ul>
    <li>Prise de rendez-vous par :</li>
    <li>Tel.: <a href="tel:+32488604832">+32 488 60 48 32</a></li>
    <li>Email: <a href="mailto:info@aymericdeghellinck.be">info@aymericdeghellinck.be</a></li>
    <li>Belgique</li>
  </ul>
</div>

