<div class="contact_cont">
  <ul>
    <li>Prise de rendez-vous par :</li>
    <li> <a href="tel:+32488604832">+32 488 60 48 32</a></li>
    <li><a href="mailto:info.aymeric@aymericdeghellinck.be">info.aymeric@aymericdeghellinck.be</a></li>
    <li>Belgique</li>
  </ul>
</div>

