<div class="home_cont">
  <div class="fakeimage" id="fi1"></div>
  <div class="right_hand_bitch">
    <div class="fakeimage" id="fi2"></div>
    <div class="fake_descr" id="fd1">Hello World, this is a really nice view that has been set up by Istvan Lazar in order to lay the grounds for building up the user description part. Hello World, this is a really nice view that has been set up by Istvan Lazar in order to lay the grounds for building up the user description part.</div>
  </div>
</div>
