<div class="categories_cont">

  <% if Category.count >= 1 %>

    <ul class="category_imgs">
      <% @categories.each do |category| %>
        <li class="category_bg_img">
          <%= cl_image_tag category.image.key %>
        </li>
      <% end %>
    </ul>
    <ul class="category_list">
      <% @categories.each do |category| %>
        <li>
          <%= link_to "#{category.name}", category_path(category) %>
        </li>
      <% end %>
    </ul>

  <% end %>

</div>
