
<br>

  <h1><%= @category.name %></h1>

<br>

<br>

<% unless !@category.image.attached? %>
  <div class="product_img">
    <%= cl_image_tag @category.image.key %>
  </div>
<% end %>

<ul>
  <% @category.products.each do |product| %>
    <li><%= link_to "#{product.name}", category_product_path(@category, product) %></li>
  <% end %>
</ul>


