<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<ul>
  <li>Product name: <%= @product.name %></li>
  <li>Product description: <%= @product.description %></li>
  <li>Present in category: <%= @category.name %></li>
</ul>

